In [50]:
import pandas as pd
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
import pickle
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('diabetes.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [7]:
col_list=['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI']

In [8]:
for col in col_list:
    df[col]=np.where(df[col]==0,np.NaN,df[col])

In [10]:
df.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [11]:
def ageRange(age):
    if 21<= age <30:
        return 1
    elif 31<= age <40:
        return 2
    elif 41<= age <50:
        return 3
    elif 51<= age <60:
        return 4
    elif 61<= age <70:
        return 5
    else:
        return 6

In [12]:
col_list

['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

In [15]:
df['Age2']=df["Age"].apply(ageRange)

In [42]:
df['Glucose']

0        NaN
1      123.0
2      123.0
3      139.0
4      123.0
       ...
763      NaN
764    139.0
765      NaN
766      NaN
767    139.0
Name: Glucose, Length: 768, dtype: float64

In [44]:
len(df.groupby('Age2')['Glucose'].median())

6

In [45]:
df.Glucose.fillna(df.groupby('Age2')['Glucose'].transform('median'))

0        NaN
1      123.0
2      123.0
3      139.0
4      123.0
       ...
763      NaN
764    139.0
765      NaN
766      NaN
767    139.0
Name: Glucose, Length: 768, dtype: float64

In [25]:
df.groupby('Age2')['Glucose'].median().values

array([109., 123., 122., 139., 139., 124.])

In [28]:
dict_tot={}
for col in col_list:
    index=df.groupby('Age2')[col].median().index
    value=df.groupby('Age2')[col].median().values
    temp={}
    for i in range(len(index)):
        temp[index[i]]=value[i]
        dict_tot[col]=temp #### append는 리스트에서만 사용가능 딕셔너리에서는 바로 key=value로 입력가능

In [27]:
dict_tot

{'Glucose': {1: 109.0, 2: 123.0, 3: 122.0, 4: 139.0, 5: 139.0, 6: 124.0},
 'BloodPressure': {1: 68.0, 2: 74.0, 3: 78.0, 4: 78.0, 5: 79.0, 6: 74.0},
 'SkinThickness': {1: 27.0, 2: 32.0, 3: 31.0, 4: 28.5, 5: 33.0, 6: 30.0},
 'Insulin': {1: 105.0, 2: 140.0, 3: 131.0, 4: 207.0, 5: 185.0, 6: 144.0},
 'BMI': {1: 31.6, 2: 32.0, 3: 34.0, 4: 33.3, 5: 28.8, 6: 32.3}}

In [29]:
with open('dict_tot_train.pkl','wb') as f:
    pickle.dump(dict_tot,f)

In [46]:
df['Glucose'].isnull().sum()

228

In [47]:
with open('dict_tot_train.pkl','rb')as f:#### 저장한거 불러오기
    dict_tot=pickle.load(f)

In [57]:
with open('diabate_model_train.pkl','wb')as f:
    pickle.dump(model,f)

In [52]:
x=df.drop(['Outcome','Age2'],axis=1)
y=df['Outcome']

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [55]:
model=SVC()

In [59]:
with open('diabate_model_train.pkl','wb')as f:
    pickle.dump(model,f)

In [58]:
#model.fit(x_train,y_train)

In [60]:
for col in col_list:
        df.loc[0,col]=dict_tot[col][df.loc[0]['Age2']]

In [61]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
0,6,124.0,74.0,30.0,144.0,32.3,0.627,50,1,6
1,1,123.0,66.0,29.0,NaN,26.6,0.351,31,0,2
2,8,123.0,64.0,NaN,NaN,23.3,0.672,32,1,2
3,1,139.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,123.0,40.0,35.0,168.0,43.1,2.288,33,1,2
...,...,...,...,...,...,...,...,...,...,...
763,10,NaN,76.0,48.0,180.0,32.9,0.171,63,0,5
764,2,139.0,70.0,27.0,NaN,36.8,0.340,27,0,1
765,5,NaN,72.0,23.0,112.0,26.2,0.245,30,0,6
766,1,NaN,60.0,NaN,NaN,30.1,0.349,47,1,3
767,1,139.0,70.0,31.0,NaN,30.4,0.315,23,0,1